<!Doctype html>
<html>

<head>
</head>

<body>
 {{>header}}
   <h1>Application created by {{createdBy}}</h1>
   <form> 
      <input>
      <button>Search</button>
      <br>
      <input innerText="longitude", id="longitude">
      <input id="latitude">
      
   </form>
   
   <script src="./js/app.js"></script>
</body>

</html>